{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
        /* Custom CSS styles */

    .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    #view-btn{
        background-color: blueviolet;
        color: aliceblue;
    }
</style>
{% if videos %}
    <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center">
        {% for video in videos %}
        <div class="col">
            <a href="{% url 'video' video.id %}" class="text-decoration-none">
                <div class="card h-100" style="padding: 20px;">
                        <img src="{{video.thumnale_image.url}}" class="thumbnail-img" />
                        <hr />
                        <h5>{{video.title}}</h5>
                        <p>{{ video.discrebtion }}</p>
                        <div>
                            <button class="btn" id="view-btn">تشغيل</button>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <i class="fa-solid fa-circle-exclamation d-flex justify-content-center" style="font-size:200px; color: #800080; font-weight:bold; padding:10px;"></i><br>
    <h1 style="color: #800080; font-weight:bold; padding:10px;" class="d-flex justify-content-center" >للأسف ,هذا المدرس لم يرفع اي فيديو بعد &nbsp;&nbsp;</h1><br>
{% endif %}
{%endblock%}


